<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/predecir" method="POST">
        <input type="text" name="val1", placeholder="val1"><br>
        <input type="text" name="val2", placeholder="val2"><br>
        <input type="text" name="val3", placeholder="val3"><br>
        <input type="text" name="val4", placeholder="val4"><br>
        <input type="text" name="val5", placeholder="val5"><br>
        <input type="text" name="val6", placeholder="val6"><br>
        <input type="text" name="val7", placeholder="val7"><br>
        <input type="text" name="val8", placeholder="val8"><br>
        <input type="text" name="val9", placeholder="val9"><br>
        <input type="text" name="val10", placeholder="val10"><br>
        <input type="text" name="val11", placeholder="val11"><br>
        
        <button type="submit">Enviar</button>



    </form>
</body>
</html>