<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ingreso datos</title>
</head>
<body>

    {% with messages = get_flashed_messages()%}
    {%if messages%}
        {%for mesage in messages%}
        <p>{{mesage}}</p>
        {%endfor%}      
    {%endif%}
    {%endwith%}

    <form action="/predecir" method="POST">
        <input type="text" name="val1", placeholder="Fixed acidity"><br>
        <input type="text" name="val2", placeholder="Volatile acidity"><br>
        <input type="text" name="val3", placeholder="Citric acid"><br>
        <input type="text" name="val4", placeholder="Residual sugar"><br>
        <input type="text" name="val5", placeholder="Chlorides"><br>
        <input type="text" name="val6", placeholder="Free sulfur dioxide"><br>
        <input type="text" name="val7", placeholder="Total sulfur dioxide"><br>
        <input type="text" name="val8", placeholder="Density"><br>
        <input type="text" name="val9", placeholder="pH"><br>
        <input type="text" name="val10", placeholder="Sulphates"><br>
        <input type="text" name="val11", placeholder="Alcohol"><br>
        
        <button type="submit">Enviar</button>

        {% with messages = get_flashed_messages()%}
            {%if messages%}
                {%for mesage in messages%}
                    <p>{{mesage}}</p>
                {%endfor%}      
            {%endif%}
        {%endwith%}

    </form>
</body>
</html>